html,body{
	height: 100%;
	background-color: #fcf8e8;
}

#map{
	height: 300px;
	border: 2px solid #444;
	margin: 2%;
}

#info{
	height: 250px;
	overflow-y: scroll;
	border: 2px solid #444;
	margin: 4% 2% 2% 2%;
}

.container {
	height: 100%;
}

#displayButton {
	position: absolute;
	z-index: 100;
}

/*=== media query順序在下面 ===*/

@media (min-width: 700px){
	.container{
		width: 700px;
	}
}

@media (min-height: 700px){
	#info{
		height: 300px;
	}

	#map{
		height: 350px;
	}
}

@media (min-height: 800px){
	#info{
		height: 350px;
	}

	#map{
		height: 400px;
	}
}

@media (min-height: 900px){
	#info{
		height: 400px;
	}

	#map{
		height: 450px;
	}
}

@media (min-height: 1000px){
	#info{
		height: 400px;
	}

	#map{
		height: 550px;
	}
}