html,body{
    height: 100%;
    margin: auto;
    padding: 0;
}

@media (min-width: 700px){
   html,body{
	    width: 700px;
	}
}

#map{
    border: 2px solid #444;
	position: relative;
	left: 1%;
	top: 1%;
	width: 98%;
	height: 400px;
	bottom: 2%;
}

#info{
    border: 2px solid #444;
	position: relative;
	left: 1%;
	top: 5%;
	width: 98%;
	height: 250px;
	overflow-y: scroll;
}