html,body{
	height: 100%;
	background-color: #fcf8e8;
}

#map{
	height: 300px;
	border: 2px solid #444;
	margin: 2%;
}

#info{
	height: 250px;
	overflow-y: scroll;
	border: 2px solid #444;
	margin: 4% 2% 2% 2%;
}

.container {
	height: 100%;
}

/*=== media query順序在下面 ===*/

@media (min-width: 700px){
	.container{
		width: 700px;
	}
}

@media (min-height: 650px){
	#info{
		height: 50%;
	}
}